.beauty-product {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  padding: 2rem;
  background-color: #f2f0f1;
  margin-top: 40px;
  gap: 1.5rem;

  .beauty-first-section {
    // flex: 1;
    text-align: center;
    margin: 1rem;
    width: 40%;

    .beauty-heading {
      font-family: $poppins;
      font-size: 2.5rem;
      font-weight: 600;
      color: $primary-color;
      //   margin-bottom: 50px;
      line-height: 1.4;
    }

    .beauty-product-details {
      font-size: 1.1rem;
      font-family: $poppins;
      color: #616161;
      margin-bottom: 1.5rem;
      //   line-height: 1.6;
    }

    .explore-more-button {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 12px 30px;
      border-radius: 8px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  .beauty-second-section {
    position: relative;
    width: 60%;
    flex: 1; //Takes equal space
    // margin: 1rem;
    overflow: visible;

    .swiper {
      .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 300px;

        .swiper-slide img {
          display: block;
          width: 100%;
          object-fit: cover;
          margin: auto;
        }

        img {
          width: 300px;
          height: 300px;
          object-fit: cover;

          &:hover {
            transform: scale(1.05);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
          }
        }
      }

      .first-slide img {
        height: 420px; // Increased height for the first image
        width: 420px;
        // transform: scale(1.2); // Make the first image bigger
        z-index: 10;
      }

      .swiper-button-next,
      .swiper-button-prev {
        position: absolute;
        transform: translateY(
          -50%
        ); // vertically center an element relative to its parent container.
        z-index: 10;
        background-color: #ffffff;
        border-radius: 60px;
        color: rgb(156, 146, 146);
        width: 50px;
        height: 50px;
        cursor: pointer;

        .swiper-button-prev {
          left: 10px;
        }
        .swiper-button-next {
          right: 10px;
        }
      }
    }
  }
}
