@import "../variables";
@import "../mixins";

.footer-section {
  background-color: #f0f0f0; // Light background
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  //   width: 100%;
  //   width: 1400px;
  width: 100%;
  // max-width: 1400px;
  margin: 0 auto;
  margin-top: 30px;

  .footer-top-section,
  .footer-bottom-section {
    width: 100%;
    // max-width: 1400px;
    margin: 0 auto;
  }
  .footer-top-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;
    .footer-heading {
      flex: 1;
      line-height: 30px;

      img {
        max-width: 172px;
        height: "52px";
      }
    }

    div {
      flex: 1;
      min-width: 200px;

      p {
        margin: 5px 0;
        color: #6c757d;
      }
    }

    .categories-counter,
    .account-counter,
    .follow-us-counter {
      h2 {
        font-family: Be Vietnam Pro;
        font-size: 18px;
        margin-bottom: 15px;
        color: #343a40; // Darker gray
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 10px;

          a {
            text-decoration: none;
            color: #6c757d; // Gray color for links
            transition: color 0.3s;

            &:hover {
              color: #007bff; // Blue on hover
            }
          }
        }
      }
    }

    .follow-us-counter {
      p {
        color: #6c757d;
        margin-bottom: 15px;
      }

      .footer-icons {
        display: flex;
        justify-content: center;
        gap: 15px;

        a {
          font-size: 20px;
          color: #6c757d;
          transition: color 0.3s;

          &:hover {
            color: #007bff;
          }
        }
      }
    }
  }

  .footer-bottom-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    // border-top: 1px solid #dee2e6;
    background-color: #161616;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;

    .all-right {
      color: #f0f0f0;
    }

    // p {
    //   margin: 5px 0;
    //   color: #6c757d;
    // }

    .privacy-counter {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: 16px;

      color: #f0f0f0;
      gap: 15px;

      a {
        text-decoration: none;
        color: white;
        transition: color 0.3s;
        font-size: 1rem;

        &:hover {
          color: #007bff;
        }
      }
    }
  }
}
