@import "../variables";
@import "../mixins";

.product-counter {
  text-align: center;
  .feature-title {
    font-family: $poppins;
    font-weight: 700;
    font-size: 2rem;
    color: #333;
    margin-bottom: 30px;
    // width: 1400px;
  }

  .product-details {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 1300px;
    // margin-left: 30px;
    .product {
      overflow: hidden;
      height: 300px;
      border-radius: 10px;
    }

    .product-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // width: 269px;
      height: 300px;
      // height: 287px;
      background-color: #f0eeed;
      border-radius: 10px;

      .feature-images {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 50px;
        // margin-top: 15px;
        margin-left: 20px;
      }

      .product-title {
        font-family: Be Vietnam Pro;
        font-size: 14px;
        color: $small-text-color; //call the variables
        margin-bottom: 10px;
      }

      .price {
        display: flex;
        justify-content: space-around;
        width: 100%;
      }
      .product-discount {
        font-size: 14px;
        color: $small-text-color;
        text-decoration: line-through; // Add line through the original price
        // margin: 0px 40px 0px 0px;
      }
      .product-price {
        font-weight: 800;
        font-size: 18px;
      }
      .product-rating {
        display: flex;
        justify-content: end;
        align-items: center;
      }
    }
  }
  .product-card {
    border: 2px solid transparent; // Default border is transparent
    transition: border 0.3s ease; //Smooth transition for the border
    border-radius: 10px;
    transition: all 1.5s ease-in-out;
  }
  .product-card:hover {
    border: 2px solid #007bff; //Change border color when mouse over
    transform: scale(1.05); //Slight zoom-in effect
    border-radius: 10px;
    transition: all 1.5s ease-in;
  }
}
