//colors
$primary-color: #000000; //figma heading color
$secondary-color: #161616; //figma navbar background-color
$bg-color: #f2f0f1;

//text color
$text-color: rgb(243, 232, 232);
$orange-color: #f15a2a;
$small-text-color: #00000099;

$primary-heading: 50px; //figma heading font-size
$secondary-heading: 40px;
$regular-text: 16px;

$search-icon-size: 20px;
$search-icon: 16px;

// font-family
$poppins: "Poppins", serif;

//screen size
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

// $regular-text: 1rem; // Font size for search input
// $search-icon-size: 1.2rem;
// $icon-size: 1.2rem;
